ion-header{
    border-bottom: 1px solid rgba(39, 36, 36, 0.548);
    margin-bottom: 25%;
    
}

ion-header ion-icon{
    font-size: 2em;

    margin-right: 50%;
}

.nav-toolbar{
    --background:#f0dfdf;
}

.div-teste{
    display: inline-block;
    overflow: inherit;

    vertical-align: middle;

    margin-left: 3%;

}

.teste{
    font-size: 0.8em;

}

.icon-liber{
    display: inline-block;
    overflow: inherit;

    vertical-align: middle;
    text-align: center;


}

.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    float: right;
    overflow: inherit;
    position: relative;

    margin-right: 0.3%;

    height: fit-content;
    width: 20%;


}

.nav-toolbar{
    --background:#f0dfdf;

    position: absolute;

}

.first-text{
    margin-left: 3%;
    font-size: 1.5em;
}

.header-card{
    margin-bottom: 10%;
}

ion-chip ion-label{
    font-size: 1.2em;
}

.sell-card{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5%;
}

ion-card-title{
    margin-left: 5%;
    padding: 0;
}

.content-book{
    width: 100%;
    padding-bottom: 0;

}

.title{
    color: #1c3ca1;
}

.featured-book{
    display: block;
    margin: auto;
    width: 75%;

}

.price{

    font-size: 1.1em;

    margin-top: 5%;
}

.buttons-card{
    width: 100%;

}

.buttons-up{
    text-align: end;
}

.buttons-down{
    text-align: center;
}

.footer-toolbar{
    --background:#EE3D3D;
}

.footer-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.footer-box{
    display: flex;
    align-items: center;

}

.footer-toolbar, p{
    margin: 0;
    font-size: 1.5em;
}