<ion-header>
  <ion-toolbar class="nav-toolbar">
    <div class="div-teste">
      <ion-tab-button class="teste" href="#">
        <ion-icon class="nav-icons" name="arrow-back"></ion-icon>
      </ion-tab-button>
    </div>
    <ion-title>
      <div class="nav-bar">
        <div class="icon-liber">
        <span class="liber">liber</span>
        </div>
      </div>
    </ion-title>
  
    <div class="nav-buttons">
      <ion-tab-button href="#">
        <ion-icon class="nav-icons" name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button href="#">
        <ion-icon class="nav-icons" name="cart"></ion-icon>
      </ion-tab-button>
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="first-text"><strong>Livro em destaque:</strong></p>
  <ion-card class="sell-card">
    <ion-header class="header-card">
      <ion-chip>
        <ion-label>Romance</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Drama</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label> Cômico</ion-label>
      </ion-chip>
      <ion-card-subtitle class="author">{{livros[0].escritor}},</ion-card-subtitle>
      <ion-card-title class="title">{{livros[0].titulo}}</ion-card-title>
    </ion-header>
    <ion-card-content class="content-book">
      <img class="featured-book" src="{{livros[0].capa}}" alt="Livro em destaque Forrest Gump">
      <ion-card-subtitle class="price">R$50,00</ion-card-subtitle>
    </ion-card-content>
    <div class="buttons-card">
      <div class="buttons-up">
        <ion-icon class="favorite-button" name="{{favoriteIcon}}" color="danger" size="large" (click)="favoriteAction('livro')"></ion-icon>
      </div>
      <div class="buttons-down">
        <ion-button (click)="buyAction()" class="buy-button" color="secondary" shape="round" size="large"><ion-icon name="basket"></ion-icon>Comprar </ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <div class="footer-buttons">
      <div class="footer-box">
        <ion-tab-button href="#">
          <ion-icon class="footer-icons" name="home-outline"></ion-icon>
          <p>Home</p>
        </ion-tab-button>
      </div>
      <div class="footer-box">
        <ion-tab-button href="#">
          <ion-icon class="footer-icons" name="heart-outline"></ion-icon>
          <p>Favoritos</p>
        </ion-tab-button>
      </div>
      <div class="footer-box">
        <ion-tab-button href="#">
          <ion-icon class="footer-icons" name="person-outline"></ion-icon>
          <p>Perfil</p>
        </ion-tab-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
