<ion-header>
  <ion-toolbar class="nav-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="nav-bar">
        <div class="icon-liber">
        <span class="liber">liber</span>
        </div>
      </div>
    </ion-title>
  
    <div class="nav-buttons">
      <ion-tab-button href="#">
        <ion-icon class="nav-icons" name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button href="#">
        <ion-icon class="nav-icons" name="cart"></ion-icon>
      </ion-tab-button>
    </div> 
  </ion-toolbar>
</ion-header>
<!-- Todos esses botões das categorias levam para a pagina do livro forrest gump, só como teste -->
<ion-content>
  <div>
    <h2><strong>Navegue por:</strong></h2>
    <div class="category-up">
      <div class=category-block>
        <ion-tab-button href="../about-book">
          <img class="icons-category" src='../assets/images/terror.png' alt="categoria terror">
        </ion-tab-button>
        <p><strong>Terror</strong></p>
      </div>
      <div class=category-block>
        <ion-tab-button href="../about-book">
          <img class="icons-category" src='../assets/images/romance.png' alt="categoria romance">
        </ion-tab-button>
        <p><strong>Romance</strong></p>
      </div>
    </div>
    <div class="category-down">
      <div class=category-block>
        <ion-tab-button href="../about-book">
          <img class="icons-category" src='../assets/images/ficcao.png' alt="categoria ficção">
        </ion-tab-button>
        <p><strong>Ficção</strong></p>
      </div>
      <div class=category-block>
        <ion-tab-button href="../about-book">
          <img class="icons-category" src='../assets/images/acao.png' alt="categoria ação">
        </ion-tab-button>
        <p><strong>Ação</strong></p>
      </div>
    </div>
    <h2><strong>Mais Vendidos:</strong></h2>
    <ion-slides [options]="options">
      <ion-slide>
        <ion-slide-button href="#">
          <img class="slide-icons" src="{{livros[0].capa}}" href="#" />
          <p>Forrest Gump</p>
        </ion-slide-button>
      </ion-slide>
      <ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[1].capa}}"/>
          <p>Jogador N1</p>
        </ion-segment-button>
      </ion-slide>
      <ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[2].capa}}"/>
          <p>A Culpa é das estrelas</p>
        </ion-segment-button>
      </ion-slide>
      <ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[3].capa}}"/>
          <p>IT, A coisa</p>
        </ion-segment-button>
      </ion-slide>
      <ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[4].capa}}"/>
          <p>Jogos Vorazes</p>
        </ion-segment-button>
      </ion-slide>
    </ion-slides>
    <h2><strong>Recomendado para você:</strong></h2>
    <ion-slides [options]="options">
      <ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[1].capa}}"/>
          <p>Jogador N1</p>
        </ion-segment-button>
      </ion-slide><ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[0].capa}}"/>
          <p>Forrest Gump</p>
        </ion-segment-button>
      </ion-slide><ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[2].capa}}"/>
          <p>A Culpa é das estrelas</p>
        </ion-segment-button>
      </ion-slide>
      <ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[3].capa}}"/>
          <p>IT, A coisa</p>
        </ion-segment-button>
      </ion-slide>
      <ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[4].capa}}"/>
          <p>Jogos Vorazes</p>
        </ion-segment-button>
      </ion-slide>
    </ion-slides>
    <h2><strong>Mais Vendidos na sua região:</strong></h2>
    <ion-slides [options]="options">
      <ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[4].capa}}"/>
          <p>Jogos Vorazes</p>
        </ion-segment-button>
      </ion-slide><ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[1].capa}}"/>
          <p>Jogador N1</p>
        </ion-segment-button>
      </ion-slide><ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[2].capa}}"/>
          <p>A Culpa é das estrelas</p>
        </ion-segment-button>
      </ion-slide>
      <ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[3].capa}}"/>
          <p>IT, A coisa</p>
        </ion-segment-button>
      </ion-slide>
      <ion-slide>
        <ion-segment-button>
          <img class="slide-icons" src="{{livros[0].capa}}"/>
          <p>Forrest Gump</p>
        </ion-segment-button>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <div class="footer-buttons">
      <div class="footer-box">
        <ion-tab-button href="#">
          <ion-icon class="footer-icons" name="home-outline"></ion-icon>
          <p>Home</p>
        </ion-tab-button>
      </div>
      <div class="footer-box">
        <ion-tab-button href="#">
          <ion-icon class="footer-icons" name="heart-outline"></ion-icon>
          <p>Favoritos</p>
        </ion-tab-button>
      </div>
      <div class="footer-box">
        <ion-tab-button href="#">
          <ion-icon class="footer-icons" name="person-outline"></ion-icon>
          <p>Perfil</p>
        </ion-tab-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>