
ion-header{
    border-bottom: 1px solid rgba(39, 36, 36, 0.548);
    
}

ion-header ion-icon{
    font-size: 2em;

    margin-right: 50%;
}

.icon-liber{
    display: inline-block;
    overflow: inherit;

    vertical-align: middle;
    text-align: center;


}

.nav-buttons{
    --background:#f0dfdf;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    float: right;
    overflow: inherit;
    position: relative;

    margin-right: 0.3%;

    height: fit-content;
    width: 20%;


}

.nav-toolbar{
    --background:#f0dfdf;

    position: absolute;

}

h2{
    margin-top: 15%;
    margin-left: 5%;

    font-size: 1.2em;
}

.category-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-block p{
    font-size: 1.1em;
}

.category-up{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 10%;
}

.category-down{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 10%;
}

ion-slide{
    width: 60% !important;
}


.footer-toolbar{
    --background:#EE3D3D;
}

.footer-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-box{
    display: flex;
    align-items: center;

}

.footer-toolbar, p{
    margin: 0;
    font-size: 1.5em;
}
