ion-header{
    border-bottom: 1px solid rgba(39, 36, 36, 0.548);
    
}


.icon-liber{
    display: inline-block;
    overflow: inherit;

    vertical-align: middle;
    text-align: center;


}

.nav-buttons{
    --background:#f0dfdf;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    float: right;
    overflow: inherit;
    position: relative;

    margin-right: 0.3%;

    height: fit-content;
    width: 20%;


}

.nav-toolbar{
    --background:#f0dfdf;

    position: absolute;

}

ion-icon{
    font-size: 2em;

    margin-right: 50%;
}


.footer-toolbar{
    --background:#EE3D3D;
}

.footer-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.footer-box{
    display: flex;
    align-items: center;

}

.footer-toolbar, p{
    margin: 0;
    font-size: 1.5em;
}