<ion-header class="teste">
  <ion-toolbar class="nav-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="nav-bar">
        <div class="icon-liber">
        <span class="liber">liber</span>
        </div>
      </div>
    </ion-title>
  
    <div class="nav-buttons">
      <ion-tab-button tab="#">
        <ion-icon class="nav-icons" name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="#">
        <ion-icon class="nav-icons" name="cart"></ion-icon>
      </ion-tab-button>
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <div class="footer-buttons">
      <div class="footer-box">
        <ion-tab-button tab="#">
          <ion-icon class="footer-icons" name="home-outline"></ion-icon>
          <p>Home</p>
        </ion-tab-button>
      </div>
      <div class="footer-box">
        <ion-tab-button tab="#">
          <ion-icon class="footer-icons" name="heart-outline"></ion-icon>
          <p>Favoritos</p>
        </ion-tab-button>
      </div>
      <div class="footer-box">
        <ion-tab-button tab="#">
          <ion-icon class="footer-icons" name="person-outline"></ion-icon>
          <p>Perfil</p>
        </ion-tab-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
